* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: rgb(217,215,215);
}

.images {
	display: flex;
	transition: all 1s;
	align-items: flex-start;
}

.viewport {
	margin: 150px auto ;
	width: 920px;
	overflow: hidden;
}

footer > ul {
	background: rgba(0, 0, 0, 0.2);
}

footer > ul.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

footer > ul.buttons > li.big {
	padding: 13px 18px 3px 18px;
}

footer > ul.buttons > li.small {
	padding: 16px 22px 8px 22px;

}


ï½
footer > ul > li:hover {
	background: rgba(0, 0, 0, 0.2);
}

footer > ul > li.active {
	border-radius:  10px;
	box-shadow: inset 2px 0 35px 0 rgb(126,126,129),
	3px 3px 3px 3px gray;
}




